.field {
  display: flex;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.field-visible {
  background-color: #00ff00;
}

.field img {
  width: 40px;
  height: 40px;
}

.fireworks {
  position: absolute;
}

@font-face {
  font-family: 'Comic Sans';
  src: url('../assets/comic-sans.ttf');
}

body {
  font-family: 'Comic Sans', sans-serif;
  overflow: hidden;
}

.sbutton {
  background-color: gray;
  border: 2px solid black;
  width: 315px;
  height: 50px;
  font-size: 26px;
  font-family: 'Comic Sans', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.sinput {
  border: 2px solid black;
  width: 307px;
  height: 50px;
  font-family: 'Comic Sans', sans-serif;
  font-size: 26px;
  margin-bottom: 5px;
}

.section {
  margin-bottom: 30px;
}

.playerimage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.player {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.playerlist {
  margin-bottom: 10px;
}

.error {
  font-size: 30px;
  color: red;
}

.game {
  display: flex;
}

.game .board {
  margin-right: 10px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  border: 3px solid black;
  padding: 20px;
  background-color: white;
  z-index: 100;
}

.winner {
  display: flex;
  align-items: center;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.end-element {
  margin-bottom: 0px !important;
}

.game-over-text {
  font-size: 30px;
  margin-bottom: 10px;
}

.winner-text {
  font-size: 40px;
}

.winner-name {
  font-size: 27px;
  margin-bottom: 20px;
}

.winner img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.chat-messages {
  height: 300px;
  width: 300px;
  overflow-y: hidden;
}

.text-message {
  display: flex;
}

.text-message img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.message-author {
  font-weight: bold;
  margin-right: 4px;
}

.container button {
  margin-bottom: 30px;
}

.first-message {
  color: #777;
}

textarea {
  background-color: white;
  color: black;
  resize: none;
  padding: 12px 20px;
  border: 0;
  border-bottom: 2px solid black;
  font-size: 16px;
  outline: none;
  width: 260px;
  font-family: 'Comic Sans', sans-serif;
}

.sselect {
  margin-bottom: 10px;
  font-size: 18px;
}

.sselect select {
  font-family: 'Comic Sans', cursive;
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.sselect select option {
  font-family: 'Comic Sans', cursive;
  text-align: left;
}